// Placeholder to quickly add your own styles
// card tuỳ biến

.card-feature {
    background-color: var(--#{$prefix}light) if($enable-important-utilities, !important, null);
}

.card-feature div i {
    background: linear-gradient(135deg, tint-color($primary, 80%) 0%, $primary 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

// scss-docs-start styling
.card-shrink {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.card-shrink:hover {
    transform: scale(0.99);
    box-shadow: none if($enable-important-utilities, !important, null);
}
// The file is included last in the build pipeline

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-size: 22px;
}

.card-text {
    display: none;
}

// footer
.footer {
    background-color: #1e2c2a;
    color: #9aa8b3 !important
}

.link-bg-footer {
    color: #9aa8b3 !important
}

/* Áp dụng cho toàn bộ liên kết */
a {
    color: #262db7 !important;
  }
  
  a:hover,
  a:focus {
    color: #1f279f !important;
  }
  
  /* Ghi đè cho các link trong navigation */
  .navbar a,
  .navbar a:hover,
  .navbar a:focus {
    color: #ffffff !important; /* hoặc màu bạn mong muốn, ví dụ màu trắng */
  }
  
  .dropdown-menu {
    --bs-dropdown-color: #090a0a;  /* Màu chữ trong submenu */
    --bs-dropdown-bg: #0c0c0c;     /* Màu nền submenu */
    --bs-dropdown-link-hover-bg: #7b4f1f;
  }

  /* tuỳ biến ảnh */
  .img-fluid {
    border-radius: 4px; /* Bo góc nhẹ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

